.content {
    font-family: 'Poppins', Arial, sans-serif;
    padding: 200px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

.button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 10px 32px;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    background-color: #00ADB5;
    border-radius: 24px;
}

.button_inactive {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 10px 32px;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    background-color: #b4b4b4;
    border-radius: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.input_file {
    position: relative;
    display: inline-block;
}
.input_file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input_file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input_file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input_file:hover span {
    background-color: #59be6e;
}
.input_file:active span {
    background-color: #2E703A;
}

/* Disabled */
.input_file input[type=file]:disabled + span {
    background-color: #eee;
}

.text {
    background-color: #17232d;
    width: 100%;
    height: 500px;
}

.form {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
}
